/* google font link  */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@700&family=Open+Sans&family=Poppins:wght@700&family=Work+Sans:wght@700&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* common style */

body {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    max-width: 1200px;
    height: 100vh;
    margin: 0 auto;
}

header {
    background: #264653;
}

/* header section style */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #264653;
    padding: 0 100px;
}

.logo {
    color: white;
    font-size: 40px;
}

.sub-title {
    color: #E76F51;
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}

nav ul li {
    margin-right: 30px;
    color: white;
    cursor: pointer;
}

.banner-btn {
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    background: #E76F51;
    border-radius: 5px;
}

/* small nav */
.small-nav {
    font-size: 35px;
    color: white;
    display: none;
    margin-left: 10px;
}

/* banner section */
.banner-part {
    display: flex;
    align-items: center;
    padding: 100px;
}

.banner-part p {
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #E0E0E0;
}

.banner-blog .banner-title {
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    color: #FFFFFF;
}

.blog-btn {
    margin-top: 30px;
}

/* bike card section style */
.bike-card {
    padding: 100px;
}

.bike-card h1,
.bike-card-part-two h1 {
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    text-align: center;
}

.bike-card p {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #E76F51;
}

.bike-card hr {
    width: 60px;
    margin: 0 auto;
    color: #E76F51;
    border: 1px solid #E76F51;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 100px;
    gap: 10px;
}

.card img {
    width: 100%;
}

/* card section tow style */
.bike-card-part-two {
    padding: 0 100px;
}

.new-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 50px;
}

.new-card,
.client-profile {
    padding: 20px;
    border-radius: 10px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
}

.new-card img {
    width: 100%;
}

.new-card-title {
    font-weight: 600;
    font-size: 25px;
    line-height: 40px;
    margin-top: 40px;
}

.new-card p {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #6C6C6C;
    margin-top: 10px;

}

.card-btn {
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    background: #E76F51;
    border-radius: 5px;
    margin-top: 40px;
}

.author-btn {
    color: #E76F51;
    border: 1px solid #E76F51;
    border-radius: 5px;
    margin-top: 40px;
    padding: 10px 20px;
    background-color: #FFFFFF;
}



/*   clients section  style  */

.clients-section {
    padding: 100px;
}

.client-title {
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    text-align: center;
}

.sub-title {
    color: #E76F51;
}

.clients-profiles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-top: 40px;
}

.client-profile {
    text-align: center;
    padding: 35px;
}

.client-profile img {
    width: 50%;
}

.description {
    margin: 30px 0 15px 0;
    color: #6C6C6C;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.star {
    color: #E77C40;
    margin-bottom: 15px;
}

.author {
    color: #23A6F0;
    margin-bottom: 15px;
}

@media screen and (max-width:576px) {
    nav {
        padding: 10px;
    }

    nav ul {
        display: none;
    }

    .small-nav {
        display: block;

    }

    .banner-part {
        flex-direction: column;
        padding: 20px;
    }

    .banner-img {
        margin-top: 70px;
    }

    .banner-img img {
        width: 100%;
    }

    .banner-blog {
        margin-top: 45px;
    }

    /* card section */
    .cards {
        grid-template-columns: 1fr;
        margin-top: 50px;
    }

    /* new card section */
    .bike-card-part-two {
        padding: 0 20px;
    }

    .new-cards {
        grid-template-columns: 1fr;
    }

    /* clients section */
    .clients-section {
        padding: 100px 20px;
    }

    .clients-profiles {
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width:576px) and (max-width:768px) {
    nav {
        padding: 10px;
    }

    nav ul {
        display: none;
    }

    .small-nav {
        display: block;

    }

    .banner-part {
        flex-direction: column;
        padding: 20px;
    }

    .banner-img {
        margin-top: 70px;
    }

    .banner-blog {
        margin-top: 45px;
    }

    /* card section */
    .cards {
        grid-template-columns: 1fr;
    }

    /* new card section */
    .bike-card-part-two {
        padding: 0 20px;
    }

    .new-cards {
        grid-template-columns: 1fr;
    }

    /* clients section */
    .clients-section {
        padding: 100px 20px;
    }

    .clients-profiles {
        grid-template-columns: 1fr;
    }
}